<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/mng.css">
        <title>Main</title>
    </head>
    <body style="background-color: pink">
        <div style="margin: 0 auto;margin-top: 200px;width: 800px;height: 350px;border: 1px solid rgba(27,31,35,.15);border-radius: 4px;text-align:center;background-color: white;opacity:0.8">
            <h1 style="margin-top:50px;">Database Management</h1>
            <div style="font-size:36px;margin-top:40px;">
                <a style="text-decoration:none;color:#484848;" href="{% url 'actor' %}">Actor</a><br />
                <a style="text-decoration:none;color:#484848;" href="{% url 'director' %}">Directors</a><br />
                <a style="text-decoration:none;color:#484848;" href="{% url 'movie' %}">Movies</a><br />
            </div>
        </div>
    </body>
</html>
