<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./css/mng.css">
        <link rel="icon" type="image/png" href="./img/common/icon.png">
        <link rel="stylesheet" href="/static/mng.css">
        <script src="js/mng.js"></script>
        <title>ManagementPage</title>
    </head>
    <body style="background-color: pink;">
        <!-- Navigation Top Bar -->
        <div id="top" >
            <header>
                <span></span>
                <!-- Management Content -->
                <div style="font-size:36px;margin-left:100px;margin-top:20px;">
                    <nav>
                        <a href="{% url 'main' %}" style="text-decoration:none;color:#484848;">Main</a>
                        <a href="{% url 'actor' %}" style="text-decoration:none;color:#484848;">Actor</a>
                        <a href="{% url 'director' %}" style="text-decoration:none;color:#484848;">Director</a>
                        <a href="{% url 'movie' %}" style="text-decoration:none;color:#484848;">Movie</a>
                    </nav>
                </div>
            </header>
        </div>
        <!-- Contenst -->
        <div id="ctn">
            <main>
                <div class="ctn_block">
                    <!-- Table/Card -->
                    <div id="block_nav" >
                        <form id='select_field' action="msearch" method="get">
                            <div class="select_list bg_lightyellow">
                                <div class="select_item">
                                    <label>ID</label>
                                    <input type="text" name="id" />
                                </div>
                                <div class="select_item">
                                    <label>Name/label>
                                    <input type="text" name="name" />
                                </div>
                                <div class="select_item">
                                    <label>Year</label>
                                    <input type="text" name="year" />
                                </div>
                                <input type="submit" value="Search">
                            </div>
                        </form>
                        <form class="check_table bg_lightyellow" action="medit" method="get">
                            <table class="table_body">
                                <thead>
                                    <tr>
                                        <th>Movie ID</th>
                                        <th>Movie Name</th>
                                        <th>Publish Year</th>
                                        <th>Movie rank</th>
                                        <th>Director</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{movie_list|safe}}
                                </tbody>
                            </table>
                            <input type="submit" value="Edit">
                        </form>
                        <form action="madd" method="get">
                            <input type="submit" name="mmadd" value="Add">
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
